@import "tailwindcss";
@plugin "daisyui" {
   themes: light --default, dark --prefersdark;
}

html, body {
  height: 100%;
  margin: 0;
}

app-root {
  display: block;
  height: 100%;
}

@theme {
  --color-chrono: #112f43;
}
